:root {
    --bs-body-font-weight: 400;
}

nav{
    font-family: "Caudex", serif;        
}
.custom-navbar {
    background-color: #060000;
    padding: 10px 20px;
    height: 70px;
    width: 100%;
    font-weight: bolder;
    position: fixed !important;
}
.navbar-brand{
    font-size: 1.5rem !important;
}
.navbar a{
    color: #caccb3 !important;
}

body{
    background: linear-gradient(0deg, #000000 0%, #161b00 54%, #060000 100%);
}

main{
    font-family: "Caudex", serif;
    font-weight: 500;    
    color: #caccb3;
}

.section-head{
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 5px !important;
    height: 3px;
    background-color: #060000;
}
::-webkit-scrollbar-thumb {
    background: #dbd39c;
    border-radius: 10px; 
}

.card:hover{
    border: 1px solid #b6cd32 !important;
    transition: 0.3s ease !important;
}


section.one{
    height: 100vh;
    position: relative;

}
section.one h2, p, button{
    text-align: center;
    margin: auto !important;
    display: block !important;
    margin-bottom: 20px !important;
}
section.one button{
    background: linear-gradient(45deg, #b6cd32, #e9cc25);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #130000;
    font-weight: bolder;
}
section.one button:hover{
    background: linear-gradient(45deg, #e9cc25, #b6cd32);
    color: #130000;
    transition: 0.3s ease;
}
section.one button:active{
    background-color: #060000 !important;
    color: #dbd39c !important;
    transition: 0.3s ease;
}

section.two{
    height: 100vh;
    position: relative;
}
.two-card{
    border-radius: 30px !important;
    background: radial-gradient(circle, #f8b00815 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;    
    padding: 10px 5px;
}
.two-card img{
    border-radius: 15px;
}

section.three{
    height: 100vh;
    position: relative;    
}
.three-card{
    border-radius: 50px !important;
    background: radial-gradient(circle, #f8b00815 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;    
    padding: 45px 25px !important;
}
.three-card i{
    font-size: 2rem;
    color: #b6cd32;
    background-color: #b6cd325d;
    padding: 20px;
    border-radius: 10px;
}

.min{
    width: 100%;
}

#ex-card{
    border-radius: 20px !important;
    padding: 20px 10px !important;
}
#ex-card h5{
    font-size: 1rem !important;
}


section.four{
    height: 100vh;
    position: relative;
}
.four-card{
    border: 1px solid white !important;
    border-radius: 50px !important;
    background: radial-gradient(circle, #f8b00815 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;
    padding: 35px !important;
}

.four-card img{
    border-radius: 15px;
}

footer{
    font-family: "Caudex", serif;
    font-weight: bolder;
    background-color: #06000000;
    padding: 20px;
    border-top: 1px solid #00213548;
}
footer h6.text-uppercase{
    font-weight: bolder !important;
    font-size: 1.3rem !important;
    color: #caccb3 !important;
}
footer p, a{
    font-size: 1.1rem !important;
    color: #caccb3 !important;
}

hr{
    width: 60px;
    background-color: #e6b53b;
    height: 2px !important;
}
p.logo-txt{
    color: #caccb3 !important;
}
.stech{
    filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(18deg) brightness(90%);
}


.hover-card {
  position: relative;
  overflow: hidden;    
  border: none !important;
  height: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
  padding: 180px 0 !important;
  background-size: cover;
  border-radius: 25px !important;
}
.hover-card .hov-t1 {
  position: absolute;
  bottom: 0; /* Positioned at the bottom */
  left: 0;
  width: 100%;
  background: linear-gradient(#00000000, #ffffffd7);
  color: black;
  padding: 100px 10px 10px 10px;
  text-align: center;
  visibility: visible; /* Visible by default */
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transform: translate(0px, 25px);
}
.hover-card .hov-t2 {
  position: absolute;
  bottom: 0; /* Positioned at the bottom */
  left: 0;
  width: 100%;
  background: linear-gradient(#00000000, #2b8800bd);
  color: black;
  padding: 100px 10px 10px 10px;
  text-align: center;
  visibility: visible; /* Visible by default */
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  transform: translate(0px, 25px);
}
.hover-card .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(#00000000, #becd325d) #000000cc;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.hover-card .card-body {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.hover-card:hover .hov-t {
  visibility: hidden;
  opacity: 0;
}

.hover-card:hover .card-body {
  visibility: visible;
  opacity: 1;
}
  
  



@media (max-width: 991px) {
    section.three{
        margin-top: 200px;
    }
    section.four{
        margin-top: 200px;
    }
}

@media (max-width: 767px) {
    section.one h2{
        font-size: 3rem !important;
    }
    section.one p{
        width: 70%;
    }
    section.three{
        height: auto;
    }
    .foot-img{
        width: 200px !important;
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    section.one h2{
        font-size: 2.5rem !important;
    }
    .section-head{
        font-size: 1.5rem;
    }
    section.two{
        height: auto;
    }
    .two-card h4{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    section.three{
        height: auto;
    }
    section.four{
        height: auto;
    }
    section.four p{
        font-size: 1rem !important;
        width: 70%;
    }

    .two-card, .three-card, .four-card{
        border-radius: 10px !important;
    }

    .foot-img{
        margin-top: 50px;
    }
}

@media (max-width: 420px) {
    section.two{
        height: auto;
    }
    section.three{
        height: auto;
    }
    section.four{
        height: auto;
    }
}

@media (max-width: 400px) {
    section.one h2{
        font-size: 2rem !important;
    }
    section.two{
        height: auto;
    }
    section.three{
        height: auto;
    }
    section.four{
        height: auto;
    }
}


@media (max-height: 850px) {
    section.two{
        height: auto;
    }
    section.three{
        height: auto;
    }
    section.four{
        height: auto;
    }

}
