:root {
    --bs-body-font-weight: 400;
}

nav{
    font-family: "Caudex", serif;
    font-weight: bolder;
    height: 70px;
    background-color: #060000 !important;
}
.navbar-brand{
    font-size: 1.5rem !important;
}
.navbar a{
    color: #dbd39c !important;
}

main{
    font-family: "Caudex", serif;
    font-weight: 500;
    background-color: #060000 !important;
    color: #dbd39c;
}

.section-head{
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 5px !important;
    height: 3px;
    background-color: #060000;
}
::-webkit-scrollbar-thumb {
    background: #dbd39c;
    border-radius: 10px; 
}

section.one{
    height: 100vh;
    position: relative;

}
section.one h2, p, button{
    text-align: center;
    margin: auto !important;
    display: block !important;
    margin-bottom: 20px !important;
}
section.one button{
    background: linear-gradient(45deg, #e6b53b, #ffe449);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #130000;
    font-weight: bolder;
}
section.one button:hover{
    background: linear-gradient(45deg, #ffe449, #e6b53b);
    color: #130000;
}
section.one button:active{
    background-color: #060000 !important;
    color: #dbd39c !important;
    border: none !important;
}

section.two{
    height: 100vh;
    position: relative;
}
.two-card{
    border-radius: 30px !important;
    background: radial-gradient(circle, #f8b00835 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;
    border: none !important;
    padding: 10px 5px;
}
/* .two-card i{
    font-size: 2rem;
    color: #ffe449;
    background-color: #ffe4494f;
    padding: 20px;
    border-radius: 10px;   
} */

.two-card img{
    border-radius: 15px;
}

section.three{
    height: 100vh;
    position: relative;    
}
.three-card{
    border-radius: 50px !important;
    background: radial-gradient(circle, #f8b00835 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;
    border: none !important;
    padding: 45px 25px !important;
}
.three-card i{
    font-size: 2rem;
    color: #ffe449;
    background-color: #ffe4494f;
    padding: 20px;
    border-radius: 10px;
}

section.four{
    height: 100vh;
    position: relative;
}
.four-card{
    border-radius: 50px !important;
    background: radial-gradient(circle, #f8b00835 15%, #060000 100%, #060000 -100%, #060000 -100%) !important;
    border: none !important;
    padding: 35px !important;
}
/* .four-card i{
    font-size: 2rem;
    color: #ffe449;
    background-color: #ffe4494f;
    padding: 20px;
    border-radius: 10px;
} */

.four-card img{
    border-radius: 15px;
}

footer{
    font-family: "Caudex", serif;
    font-weight: bolder;
    background-color: #060000;
    padding: 20px;
    border-top: 1px solid #00213548;
}
footer h6.text-uppercase{
    font-weight: bolder !important;
    font-size: 1.3rem !important;
    color: #dbd39c !important;
}
footer p, a{
    font-size: 1.1rem !important;
    color: #dbd39c !important;
}

hr{
    width: 60px;
    background-color: #e6b53b;
    height: 2px !important;
}
p.logo-txt{
    color: #dbd39c !important;
}
.foot-img{
    filter: invert();
}


@media (max-width: 991px) {
    section.three{
        margin-top: 200px;
    }
    section.four{
        margin-top: 200px;
    }
}

@media (max-width: 767px) {
    section.one h2{
        font-size: 3rem !important;
    }
    section.one p{
        width: 70%;
    }
    .foot-img{
        width: 200px !important;
        margin-top: 50px;
    }
}

@media (max-width: 575px) {
    section.one h2{
        font-size: 2.5rem !important;
    }
    .section-head{
        font-size: 1.5rem;
    }
    section.two{
        height: auto;
    }
    .two-card h4{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    section.three{
        height: auto;
    }
    section.four{
        height: auto;
    }
    section.four p{
        font-size: 1rem !important;
        width: 70%;
    }

    .two-card, .three-card, .four-card{
        border-radius: 10px !important;
    }

    .foot-img{
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    section.one h2{
        font-size: 2rem !important;
    }
    section.three{
        margin-top: 1000px;
    }
    section.four{
        margin-top: 700px;
    }
}